@import 'src/styles';

header {
    position: fixed;
    background-color: $primary;
    width: 100%;
    box-shadow: 0 1em 1em -1em rgba(75, 75, 75, 0.25);

    .navbar-content {
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            width: 300px;
        }
    }
}