// Colors
$primary:            #3761A8;
$background-primary: #3f6ec0;
$secondary:          #EF5350;
$yellow:             #FAC702;

$white:              #FFF;
$black:              #000;

// Fonts
$lato-b: 'Lato-Bold';
$lato-r: 'Lato-Regular';