.card {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    padding: 40px;
    width: 200px;
    background-color: $white;
    cursor: pointer;
    transition: all .2s linear;
    margin-bottom: 40px;
    
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        box-shadow: 5px 5px 15px 5px rgba($secondary,0.4);
    }

    img {
        width: 200px;
        height: 300px;
        object-fit: contain;
    }

    .card-body__description {

        .title {
            text-transform: capitalize;
            color: $primary;
            padding-bottom: 20px;
        }

        .subtitle {
            padding-bottom: 6px;
            font-size: 14px;
        }

        .tag-abilities {
            border-radius: 5px;
            background-color: $yellow;
            padding: 2px 6px;
            margin-right: 10px;
            font-size: 14px;
            color: $black;
        }
    }
}

.card-info {
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    padding: 40px 80px;
    @media (max-width: 769px) {
        flex-direction: column;
    }

    .card-image {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        @media (max-width: 769px) {
            margin-right: 0;
        }

        .main-pokemon {
            width: 300px;
            @media (max-width: 769px) {
                width: 100%;
            }
        }

        .content-versions {
            margin-top: 40px;
            @media (max-width: 769px) {
                text-align: center;
            }

            .title {
                text-align: center;
            }
            
        }
    }

    .card-description{

        .title {
            padding-bottom: 20px;
            text-transform: capitalize;
            @media (max-width: 769px) {
                text-align: center;
            }
        }

        .tag-abilities {
            border-radius: 5px;
            background-color: $yellow;
            padding: 2px 6px;
            margin-right: 10px;
            font-size: 0.875rem;
            color: $black;
            display: inline-block;
        }

        .ability, .height, .width {
            padding-top: 20px;
            padding-bottom: 6px;
            font-family: $lato-b;
        }

    }
}