@import 'src/styles';

#detail-pokemon {
    padding: 150px 0 60px;

    .content {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;

        .goBack {
            margin-bottom: 30px;
        }
        .language-content {
            padding: 40px;
            display: flex;
            justify-content: center;
            .button {
                cursor: pointer;
                background-color: $white;
                border: 0;
    
                img {
                    width: 30px;
                }
            }
        }
    }
}