
<section id="list-pokemons">
    <div class="content">
        <div 
        *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}"
        class="card">
            <div class="card-body">
                <img [src]="pokemon.sprites.other.dream_world.front_default" [alt]="pokemon.name">
                <div class="card-body__description">
                    <h2 class="title">
                        {{ pokemon.name }} {{ pokemon.id }}
                    </h2>
                    <p class="subtitle">
                        Habilidades:
                    </p>
                    <span class="tag-abilities" *ngFor="let item of pokemon.abilities">
                        {{ item.ability.name }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event; pokemons = []; getAllPokemons();"></pagination-controls>
</section>