
<section id="list-pokemons">
    <div class="content">
        <div class="card" *ngFor="let pokemon of pokemons">
            <div class="card-body">
                <img [src]="pokemon.sprites.other.dream_world.front_default" [alt]="pokemon.name">
                <div class="card-body__description">
                    <h2 class="title">
                        {{ pokemon.name }}
                    </h2>
                    <p class="subtitle">
                        Habilidades:
                    </p>
                    <span class="tag-abilities" *ngFor="let item of pokemon.abilities">
                        {{ item.ability.name }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>